:root {
    
	--background-color-one: #fff;
	--background-color-two: #f9f9f9;
	--big-heading-color: #2d2e32;
	--small-heading-color: #147efb;
	--para-text-color: #767676;
    --border-color: #1b1b1b;
    --background-color-tech: #fff;
    --btn-hover-color: #147efb;
    --footer-text: #f9f9f9;
    --icon-background-color: #fff;
    --conact-i-heading: #2d2e32;
    --footer-background: #1b1b1b;
}

.dark-theme{
    transition: 0.3s all ease-in;
    --background-color-one: #181120;
	--background-color-two: #512e70;
	--big-heading-color: #e3c6ff;
	--small-heading-color: #BB86FC;
	--para-text-color: #f5e8ff;
    --border-color: #c385fd;
    --background-color-tech: #3A2D49;
    --btn-hover-color: #f5e8ff;
    --footer-text: #f9f9f9;
    --icon-background-color: #3A2D49;
    --conact-i-heading: #f9f9f9;
    --footer-background: #512e70;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--background-color-two);
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #6b6b6b #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #6b6b6b;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

/* <---------- Navbar --------> */
.nav_section {
	width: 100%;
	height: 80px;
	background-color: var(--background-color-one);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
    position: fixed;
	top: 0;
	left: 0;
    z-index: 999;
}

.nav_container {
	width: 100%;
	height: auto;
	padding: 25px 50px;
	display: flex;
	justify-content: space-between;
    align-items: center;
}

.brand_name{
	font-size: 1.3rem;
    font-weight: 700;
    color: var(--big-heading-color);
    cursor: pointer;
}

.nav_links_div{
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav_link{
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--big-heading-color);
}
.nav_link:hover{
    transition: all 0.2s ease-in-out;
    color: var(--btn-hover-color);
}

/* <---------- Theme --------> */
.theme{
    font-size: 1.4rem;
    color: var(--big-heading-color);
    cursor: pointer;
}

/* <---------- Hero Section --------> */

.hero_section{
    height: 100vh;
    width: 100%;
}

.hero_container{
    padding: 150px 0 100px 0;
    margin: 0 18%;
}

.hero_text_div{
    width: 50%;
}

.hero_text_img_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.hero_h1{
    font-size: 3.5rem;
    color: var(--big-heading-color);
    margin-bottom: 20px;
}

.hero_para{
    font-size: 1.1rem;
    color: var(--para-text-color);
    margin-bottom: 20px;
}

.social_icon{
    font-size: 2rem;
    color: var(--big-heading-color);
    margin-right: 15px;
    cursor: pointer;
}

.social_icon:hover{
    transition: 0.3s all ease-in-out;
    color: var(--small-heading-color);
}

.hero_img_div {
	-webkit-animation: morph 8s ease-in-out infinite;
	animation: morph 8s ease-in-out infinite;
	background-image: url(./assets/hero.jpg);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	border: 3px solid var(--border-color);
	border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
	height: 35rem;
	position: relative;
	transition: all 1s ease-in-out;
	height: 22rem;
	width: 22rem;
}

@keyframes morph {
	0% {
		border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
	}

	50% {
		border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
	}

	to {
		border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
	}
}


.tech_stack_container{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 80px;
}

.stack_heading{
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--para-text-color);
}

.techstack_logo_div{
    height: 70px;
    width: 70px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    background-color: var(--background-color-one);
    
}

.techstack_logo{
    height: 35px;
    width: 35px;
    
}


/* <============ About Me Section ============> */

.aboutme_section{
    height: 90vh;
    width: 100%;
    background-color: var(--background-color-one);
}

.aboutme_container{
    height: 100%;
    padding: 150px 0 150px 0;
    margin: 0 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.aboutme_photo_div{
    width: 35%;
}

.aboutme_photo{
    width: 380px;
    height: 310px;
    border-radius: 20px;
}

.aboutme_small_heading{
    font-size: 1.1rem;
    color: var(--small-heading-color);
    margin-bottom: 10px;
}

.aboutme_heading{
    color: var(--conact-i-heading);
    margin-bottom: 10px;
}

.aboutme_para{
    color: var(--para-text-color);
}

/* <---------- Portfolio Section --------> */


.portfolio_container{
    width: 64%;
    padding: 150px 0 100px 0;
    margin: 0 18%;
}

.portfolio_small_heading{
    font-size: 1.1rem;
    color: var(--small-heading-color);
    margin-bottom: 10px;
}

.portfolio_heading{
    color: var(--conact-i-heading);
    margin-bottom: 60px;

}

.portfolio_card{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background-color: var(--background-color-one);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    margin-bottom: 50px;
}



/* ------------- */


/* .portfolio_photo_div {
    width: 50%;
    background: url(./assets/greenvpn.png);
    background-size: cover;
    background-position: top;
    height: 400px;
    transition: 10s ease-in-out;
}
.portfolio_photo_div:hover{
   background-position: bottom;
} */


.portfolio_photo_div {
    width: 60%;
    height: 400px;
    padding: 20px;
    
}
.portfolio_photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: 10s ease-in-out;
    border-radius: 10px;
}
.portfolio_photo:hover{
    object-position: bottom;
}



/* ------------------------ */

.portfolio_content_div{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 90%;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
    margin-left: 40px;
}

.portfolio_card_heading{
    font-size: 1.1rem;
    color: var(--big-heading-color);
}

.portfolio_card_description{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--para-text-color);
    justify-content: center;
    text-align: center;
}

.portfolio_card_tech_div{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.portfolio_tech{
    font-size: 1.1rem;
    font-weight: 600;
    padding: 6px 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    background-color: var(--background-color-tech);
    color: var(--big-heading-color);
    border-radius: 3px;
}

.portfolio_card_btn_div{
    display: flex;
    gap: 30px;
    font-size: 1.1rem;
}

.portfolio_card_btn_div a{
    color: var(--big-heading-color);
    font-weight: 500;
}

.portfolio_card_btn:hover{
    color: var(--btn-hover-color);
    transition: 0.3s all ease-in-out;
}

.github-i{
    font-size: 1.3rem;
}

/* <---------- Contact Section --------> */

.contact_section{
    background-color: var(--background-color-one);
}
.contact_container{
    width: 64%;
    padding: 100px 0 100px 0;
    margin: 0 18%;
}

.contact_small_heading{
    font-size: 1.1rem;
    color: var(--small-heading-color);
    margin-bottom: 10px;
}

.contact_heading{
    color: var(--conact-i-heading);
    margin-bottom: 60px;
}

.contact_div{
    display: flex;
    
}
.contact_card{
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.contact_icon{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    background-color: var(--icon-background-color);
    margin-right: 10px;
}

.contact_icon i{
    font-size: 2rem;
    color: var(--small-heading-color);
    padding: 20px;
}

.contact_text{
    color: var(--para-text-color);
}

.contact_text:hover{
    color: var(--btn-hover-color);
}
.content_head{
    color: var(--conact-i-heading);
}

/* <---------- Footer Section --------> */


.footer_section{
    background-color: var(--footer-background);
}

.footer_container{
    width: 64%;
    padding: 50px 0 50px 0;
    margin: 0 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--footer-text);
}

.footer-i{
    font-size: 1.5rem;
    margin-right: 10px;
    color: var(--footer-text) !important;
}

.footer-i:hover{
    transform: scale(1.2);
    transition: 0.2s all ease-in-out;
}